# macOS
.DS_Store

## Xcode User settings
*xcuserdata*

# Xcode test execution reports
*.xcresult

# Overriden config files
Local*.xcconfig

# Ignore raw media files
_resources/*.mov
_resources/*.pxd
